@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	background-color: white;
}

#content {
	width: 800px;
	height: 600px;
	left: 0;
	right: 0;
	margin: 20px auto;
}

#mahjongCanvas {
	border: 1px solid black;
}